<section class="mx-10">
  <h1 class="text-2xl font-bold">Pipes personalizados 👀</h1>
  <h3 class="text-xl font-thin">Pipes NO incluidos en Angular</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">TooggleCase Pipe</div>
    <div class="stat-value">{{ name() | toggleCase: upperCase() }}</div>
    <div class="stat-desc">{{ name() }}</div>

    <button
      (click)="upperCase.set(!upperCase() )"
      class="btn btn-primary mt-2">ToggleCase</button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="my-2">
  <h1>Pipes personalizados en acción 🐾🐾</h1>

  <div class="flex gap-2 justify-end w-full">
    <button class="btn btn-primary">By Name</button>
    <button class="btn btn-accent">By Can Fly</button>
    <button class="btn btn-secondary">By Color</button>
    <button class="btn btn-info">By Creator</button>
  </div>
</section>

<section class="overflow-x-auto w-full">
  <table class="table table-xs w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Can Fly</th>
        <th>Color</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
        @for (hero of heroes(); track hero.id; let i = $index){
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly }}</td>
            <td>{{ hero.color }}</td>
            <td>{{ hero.creator }}</td>
          </tr>
        }
    </tbody>
  </table>
</section>

