<section class="mx-10">
  <h1 class="text-2xl font-bold">Pipes personalizados 👀</h1>
  <h3 class="text-xl font-thin">Pipes NO incluidos en Angular</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">TooggleCase Pipe</div>
    <div class="stat-value">{{ name() | toggleCase: upperCase() }}</div>
    <div class="stat-desc">{{ name() }}</div>

    <button
      (click)="upperCase.set(!upperCase() )"
      class="btn btn-primary mt-2">ToggleCase</button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="my-2">
  <h1>Pipes personalizados en acción 🐾🐾 Filtrando por: {{ searchQuery() }} Ordenando por: {{ sortBy() }}</h1>

  <div class="flex gap-2 justify-end w-full mt-2">
    <input
      type="text"
      class="input input-bordered w-full max-w-xs"
      placeholder="Search hero"
      (input)="searchQuery.set(txtSearch.value)"
      #txtSearch
    />
    <div class="flex flex-1"></div>
    <button (click)="sortBy.set('name')" class="btn btn-primary">By Name</button>
    <button (click)="sortBy.set('canFly')" class="btn btn-accent">By Can Fly</button>
    <button (click)="sortBy.set('color')" class="btn btn-secondary">By Color</button>
    <button (click)="sortBy.set('creator')" class="btn btn-info">By Creator</button>
  </div>
</section>

<section class="overflow-x-auto w-full">
  <table class="table table-xs w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Can Fly</th>
        <th>Color</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
        @for (hero of heroes() | heroFilter:searchQuery() | heroSortBy:sortBy(); track hero.id; let i = $index){
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ hero.name }}</td>
            <td>
              <span
                class="text-xs w-44"
                [class.text-primary]="hero.canFly"
                [class.text-accent]="!hero.canFly"
              >
                {{ hero.canFly | canFly }}
              </span>
            </td>
            <td>
              <span
                class="text-xs w-44"
                [style.color]="hero.color | heroTextColor"
              >
                {{ hero.color | heroColor | titlecase }}
              </span>
            </td>
            <td>
              <span
                class="text-xs w-44"
                [class.text-primary]="hero.creator === 0"
                [class.text-info]="hero.creator === 1"
              >
                {{ hero.creator | heroCreator }}
              </span>
            </td>
          </tr>
        }
    </tbody>
  </table>
</section>

